.ava {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.wrapper {
    display: grid;
    grid-template-columns: 70px 200px;
    grid-template-rows:  2fr;
}


.dialogMessage {
    color: #7a7a7b;
}

.dialogName {
    margin-bottom: 10px;
}

.dialog {
    padding: 5px 0;
    display: block;
    width: 250px;
    color: #ffffff;
    text-decoration: none;
}

.dialog:first-child {
    padding-top: 0;
}

.dialog + .dialog {
    padding-top: 10px;
}

.dialog.active {
    background-color: #333336;
}


