.wrapper {
    display: grid;
    grid-template-columns: 2fr 800px;
}

.empty {

}


.content {
    grid-area: c;
    background-color: #222226;
}

.title {
    color: #fff;
    padding: 0;
    margin: 0;
}

.posts {
    margin-left: 10px;
}

.btn {

}

.postWrapper {
    margin-bottom: 10px;
}

.btnWrapper {
    text-align: right;
}

.btn {
    padding: 5px 15px;
    color: #ffffff;
    outline: none;
    border: none;
    text-align: right;
    background-color: #444446;
    cursor: pointer;
    transition: hover .1s linear;
    border-radius: 5px;
}

.btn:hover {
    background-color: #666666;

}


.input {
    margin: 10px 0 0 0;
    resize: none;
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #333336;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;

}

.input:focus {

    background-color: #444446;

}