.header {
    position: absolute;
    display: grid;
    width: 100%;
    left: 0;
    grid-area: h;
    background-color: #333336;

    border-radius: 3px;
}

.wrapper {
    width: 1200px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 40px auto 150px;
    grid-template-rows: 45px;
    grid-template-areas: "b  b";
}

.imgWrapper {
    display: grid;
    max-width: 130px;
    grid-area: b;
}

.header img {
    margin-top: 2px;
    align-self: center;
    width: 40px;
    justify-self: center;
}

.loginWrapper {
    display: grid;
    align-self: center;
    height: 100%;
    cursor: pointer;
    background-image: url("../../assets/img/arrow.svg");

}

.loginWrapper:hover {
    background: #444446;
    position: relative;
}

.me {
    display: grid;
    height: 45px;
}

.login {
    height: 45px;
    display: grid;
    grid-template-columns: auto 40px 55px;
    justify-self: end;
    padding-right: 10px;
    align-self: center;
    text-align: end;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.userPhoto {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 2px;
}

.name {
    align-self: center;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.menuWrapper {
    z-index: 999;
    position: relative;
    margin: 45px auto;
    max-width: 1200px;
}

.logout {
    margin-left: auto;
    z-index: 1000;
    display: block;
    width: 150px;
    align-self: center;
    padding: 0;
    cursor: pointer;
    height: 45px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    background-color: #555556;
    opacity: 1 !important;
}