.item {

    width: 120px;
    cursor: pointer;

}

/*.item:hover {*/
/*    background-color: #333336;*/
/*}*/

.item:last-child {
    padding-bottom: 5px;
    border-bottom: 1px solid #333336;
}

.activeLink {
    color: #ffffff;
    /*background-color: #333336;*/
}

.nav {
    padding-top: 10px;
    grid-area: n;
    background-color: #222226;
    line-height: 1.7;
    padding-left: 30px;

}

.nav a {
    display: block;
    width: 100px;
    padding-left: 20px;
    text-decoration: none;
    color: #7a7a7b;

    transition: hover .1s linear;
}

.nav a:hover{
    background-color: #333336;
}

.nav a.activeLink{
    background-color: #333336;
}

