h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.myPage {
    margin-bottom: 20px;
}

.content {
    grid-area: c;
    background-color: #222226;
}

.shapka {
    margin-top: 10px;
    margin-bottom: 10px;
}

.shapka img {
    height: 200px;
    width: 1000px;
}

.info {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    max-width: 1000px;
}

.ava__wrapper {
    display: grid;

    width: 180px;
    height: 180px;
    background: #333336;

}

.ava {
    color: #7a7a7b;
}

.ava img {
    height: 160px;
    width: 160px;
    align-self: center;
    justify-self: center;

}

.item {
    color: #7a7a7b;
}

.description {
    color: #fff;
    display: grid;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 35px 110px;
    background: #333336;
    padding: 10px;
    line-height: 1.5;
    max-height: 160px;

}

.fileInput {
    width: 180px;
}

.job {

}

.edit {
    margin-left: auto;
}

.editBtn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    transition: opacity .1s linear;
    color: #aaa;
    outline: none;

}

.editBtn:hover {
    opacity: 0.5;
}

.descriptionEdit {
    color: #fff;
    display: grid;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 30px 190px;
    background: #333336;
    padding: 10px;
    line-height: 1.5;
    max-height: 240px;

}

.mySocials h4 {
    padding: 0;
    margin: 0;

}

.social {
    display: grid;
    grid-template-columns: 80px 160px;
}

.socialInputs {

}

.label {

}


